[req]
prompt                 = no
distinguished_name     = dn
req_extensions         = req_ext
[ dn ]
countryName            = RO
stateOrProvinceName    = Bucharest
localityName           = Bucharest
organizationName       = DRadoaica
commonName             = client.dradoaica.com
organizationalUnitName = Client
emailAddress           = office@dradoaica.com
[ req_ext ]
subjectAltName         = @alt_names
[ alt_names ]
DNS.1                  = client.dradoaica.com