<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util.xsd">
  <bean class="org.apache.ignite.configuration.IgniteConfiguration">
    <property name="clientConnectorConfiguration">
      <bean class="org.apache.ignite.configuration.ClientConnectorConfiguration">
        <property name="sslEnabled" value="true"/>
        <property name="useIgniteSslContextFactory" value="false"/>
        <property name="sslClientAuth" value="true"/>
        <property name="sslContextFactory">
          <bean class="org.apache.ignite.ssl.SslContextFactory">
            <property name="keyStoreFilePath" value="SSL_KEY_STORE_FILE_PATH"/>
            <property name="keyStorePassword" value="SSL_KEY_STORE_PASSWORD"/>
            <property name="trustStoreFilePath" value="SSL_TRUST_STORE_FILE_PATH"/>
            <property name="trustStorePassword" value="SSL_TRUST_STORE_PASSWORD"/>
          </bean>
        </property>
      </bean>
    </property>
    <property name="discoverySpi">
      <bean class="org.apache.ignite.spi.discovery.tcp.TcpDiscoverySpi">
        <property name="ipFinder">
          <bean class="org.apache.ignite.spi.discovery.tcp.ipfinder.kubernetes.TcpDiscoveryKubernetesIpFinder">
            <property name="namespace" value="K8S_NAMESPACE"/>
            <property name="serviceName" value="K8S_SERVICE_NAME"/>
          </bean>
        </property>
      </bean>
    </property>
  </bean>
</beans>